
/* #133F58 */

*{
  margin: 0;
}

.body {
    background-color: var(--bg-color);
    color:var(--text-color);
  }




:root{
    --dark:#020617;
    --bg-color:white;
    --text-color:#020617;
    --font-family: mont;
    --title: 40px
}

[data-theme="dark"] {
    --bg-color:  #020617;
    
    --text-color:white; 
}




@media (max-width:700px) {

:root {
  --title:20px
}
  
}