.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-color: var(--bg-color);
  color: var(--text-color);
}



.heroSection {
 width: 100%;
 display: flex;
 align-items: center;
 position: relative;
 flex-direction: column;
 height: 100vh;
 background-color: var(--bg-color); /* Light black color with 20% opacity */
 background-image: url('/transferir.svg'); /* Replace with the actual grid pattern image */
 background-size: 100px 100px; /* Adjust to fit your grid size */
 color: var(--text-color);
}

.mask {
height: 100%;
position: absolute;
top: 0;

width: 100%;
mask-image: radial-gradient(ellipse at center, transparent 20%, rgb(0, 0, 0));

background-color: var(--bg-color);

}


.SpotLight {
  position: absolute;
  z-index: 1; /* Corresponds to 'z-[1]' */
  width: 84%; /* Corresponds to 'w-[138%]' */
  opacity: 1; /* Corresponds to 'opacity-0' */
  top: -15rem; /* Corresponds to '-top-40' (assuming Tailwind's 1rem = 4 units) */
  left: -15rem; /* Corresponds to '-left-10' (assuming Tailwind's 1rem = 4 units) */
}
.SpotLight1 {
  position: absolute;
  z-index: 1; /* Corresponds to 'z-[1]' */
  width: 100%; /* Corresponds to 'w-[138%]' */
  opacity: 1; /* Corresponds to 'opacity-0' */
  top: -30rem; /* Corresponds to '-top-40' (assuming Tailwind's 1rem = 4 units) */
  right: 0;
}
.SpotLight2 {
  


  position: absolute;
  z-index: 1; /* Corresponds to 'z-[1]' */
  width: 100%; /* Corresponds to 'w-[138%]' */
  opacity: 1; /* Corresponds to 'opacity-0' */
  top: -10rem; /* Corresponds to '-top-40' (assuming Tailwind's 1rem = 4 units) */
  left: -15rem; 
}



/* Component.module.css */

.container {
  width: 60%;
  margin: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99;
  color:var(--text-color);
  position: relative;
}


.subtitle {
  text-transform: uppercase;
  letter-spacing: 0.1em; /* tracking-widest */
  font-size: 0.75rem; /* text-xs */
  text-align: center;
  color: var(--text-color); /* text-blue-100 */
  max-width: 20rem; /* max-w-80 */
}

.titleWrapper {
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem; /* text-[40px] */
}

.thm {
  font-weight: bold;
  text-align: center;
  font-size: 5.5rem; /* text-[40px] */
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.titleText {
  margin: 1rem 0; /* my-4 */
  color: rgb(255, 255, 255);
  line-height: 1.2; /* leading-snug */
  letter-spacing: 0.05em; /* tracking-wide */
}

.darkText {
  color: var(--text-color); /* text-black */
}

.whiteText {
  color: var(--text-color)
}

.animated {
  opacity: 0; /* opacity-0 */
  transition: opacity 0.3s ease-in-out; /* Added for potential animation */
  opacity: 1; /* To show the text, can be controlled via JavaScript or hover */
}

.description {
  text-align: center;
  margin-bottom: 1rem; /* mb-4 */
  font-size: 0.875rem; /* text-sm */
}



.button {
  position: relative;
  display: inline-flex;
  height: 3rem; /* h-12 */
  width: 100%; /* w-full */
  margin-top: 2.5rem; /* md:mt-10 */
  overflow: hidden;
  border-radius: 5px; /* rounded-lg */
  padding: 1px; /* p-[1px] */
  outline: none;
  border:0
}

@media (min-width: 768px) {
  .button {
    width: 15rem; md:w-60
  }
}

.buttonBackground {
  position: absolute;
  inset: -1000%;
  animation: spin 2s linear infinite;
  background: conic-gradient(from 90deg at 50% 50%, #e2cbff 0%, #393bb2 50%, #e2cbff 100%);
}

.buttonContent {
  display: inline-flex;
  height: 100%;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #020617; /* bg-slate-950 */
  
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: white; /* text-white */
  backdrop-filter: blur(3rem); /* backdrop-blur-3xl */
  gap: 0.5rem; /* gap-2 */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



@media (min-width: 768px) {
  .titleWrapper {
    font-size: 3rem; /* md:text-5xl */
  }
}

@media (min-width: 1024px) {
  .titleWrapper {
    font-size: 4rem; /* lg:text-6xl */
  }
}

@media (min-width: 768px) {
  .description {
    letter-spacing: 0.05em; /* md:tracking-wider */
    font-size: 1.125rem; /* md:text-lg */
  }
}

@media (min-width: 1024px) {
  .description {
    font-size: 1.5rem; /* lg:text-2xl */
  }
}





.test {
  grid-row: span 2;
  grid-column: span 3;

  color: white;
  border:1px solid white
}

.heroSection3 {
  
  height: 100vh;
  width: 100%;
  position: relative;
}

.heroSection3Text{
  position: absolute;
  text-align: center;
  top:50%;
  left:50%;
  width: 80%;
  transform: translateX(-50%);
  z-index: 99;
  font-size: 50px;
  color:var(--text-color);
  backdrop-filter: blur(10px);
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 10px;
 color: var(--text-color);
}




.heroSection2 {
  display: grid;
  width: 80%;
  height:  fit-content;
  row-gap: 2em;

  column-gap: 2em;
  background-color: var(--bg-color);
  grid-template-columns: 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  padding-bottom: 50px  ;

}

.try1 {
  grid-row: span 1;
  grid-column: span 3;
 position: relative;
 display: flex; 
 font-size: var(--title);
justify-content: center;
align-items: center;
 border: 1px solid #292929;
 border-radius: 5px;
 background-color:  var(--bg-color);
 color: var(--text-color)
}





.try1IconWrapper {
  height: 40%;
  width: 30%;
  color: var(--bg-color);
}

.try2{
  color: var(--text-color);
  border:1px solid white;
  grid-row: span 1;
  grid-column: span 2;
  font-size: large;
}

.tryText {
  width: 70%;
  text-align: start;
  font-size: 0.7em;
  letter-spacing: 0.1em; /* tracking-widest */
  text-align: center;
  color:var(--text-color); /* text-blue-100 */
}


.tryTitle {
  font-size: var(--title);
}


.divisor {
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 100px;
}




.testimonialsWrapper {
  mask-image: linear-gradient(to right, transparent, white 20%, white 80%,transparent);
overflow: hidden;
  display: flex;
 position: relative;
 height: 30vh;
 width: 100%;
}



.testimonials {
 width: fit-content;
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 20vh;
  animation: scroll 20s linear infinite;
  background-color: var(--bg-color);


}

.content {
  height: 100%;
  display: flex;
  font-size:  15px;
  width: 60vw;
  font-style: italic;
  text-align: center;
  align-items: center;  
  justify-content: center;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  color: var(--text-color);
  border-radius: 10px;
  margin-right: 10px;



}




@keyframes scroll {
  0% {
    
    transform: translateX(0);
  }
  
  100% {
    transform: translateX(-50%);
  }
}


.divisor2 {
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 100px;
  margin-top: 100px;
}


.heroSection4{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}


.cardWrapper {
width: 300px;
height: 600px;
overflow: hidden;
position: relative;
background-color: red;
z-index: 99;
border-radius: 5px;
border: 1px solid var(--text-color);
margin-bottom: 10px;
}



.cardColor  {
  position: absolute;
  top: 0;
  width: 500px;
  height: 600px;
 
}
.icon1{
  position: absolute;
  top: -1%;
  left: -3%;
  height: 20px;
  z-index: 99;
  color: var(--text-color);
} 
.cardContent {
  display: flex;
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transform: translateY(-50%
  ) translateX(-50%);
  color: black;
}
.cardContent2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
  width: 100%;
  top: 50%;

  visibility: hidden;
  transform: translateY(-50%
  );
  color: black;
}

.cardColor1 {
  width: 100%;
  height: 100%;
  background-color: rgba(241, 238, 5, 0.3);
  position: absolute;
  

}

.cardColor2 {
  width: 100%;
  height: 100%;
  background-color: rgba(3, 86, 209, 0.3);
  position: absolute;
  

}

.cardColor3 {
  width: 100%;
  height: 100%;
  background-color: rgba(4, 194, 61, 0.3);
  position: absolute;
  

}

.preText{
  padding: 10px;
  width: 80%;
  border: 1px solid var(--text-color);
  
  color: white;
  border-radius: 20px;
  backdrop-filter: blur(10px);
}
.preText1{
  padding: 10px;
  width: 80%;
  border: 1px solid var(--text-color);
  color: var(--text-color) ;

  border-radius: 20px;
  backdrop-filter: blur(10px);
}



.cardWrapper:hover>.cardDown{
  /* background-color: blue;   */
  animation: forwards 4s cardDown  ;
}


.cardWrapper:hover>.cardUp{
  /* background-color: blue;   */
  animation: forwards 4s cardUp  ;
}


.cardWrapper:hover>.cardContent{
  display: none;
}
.cardWrapper:hover>.cardContent2{
  visibility: visible;
  
}

.cardDown {
  width: 100%;
  height: 50%;
  top: 50%;
  position: absolute;
  background-color: var(--bg-color);
}


.cardUp{
  width: 100%;
  height: 50%;
  top: 0;
  position: absolute;
  background-color: var(--bg-color);
}



@keyframes  cardDown {
  
  
  0% {
      transform: translateY(0);
  }
  100%{
   transform: translateY(100%);
  }

}

@keyframes  cardUp {
  
  
  0% {
      transform: translateY(0);
  }
  100%{
   transform: translateY(-100%);
  }

}


@media (max-width: 730px) {
  .heroSection4{
    flex-direction: column;
    align-items: center;
    height:fit-content;
  }
}


@media (max-width: 330px) {
  .cardWrapper{
    width: 200px;
  }
}