.main {
  
  width: 100%;
  display: grid; 
  column-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 50vh;
  background-color: var(--bg-color);
  background-image: url(/transferir.svg);
  background-size: 100px 100px;
  padding-top: 30px;
  border-top: 1px solid var(--text-color);
  font-size: var(--title);
}


.enderecos {
  grid-column: span 1;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  height: fit-content;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 5px;
  border: 1px solid var(--text-color);
  font-size: 0.5em;
}


.enderecos>*{
  margin-top: 10px;
}

.title{
  font-size: 1.5em;
}


@media (max-width: 600px) {
  .main{
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

  }
  .enderecos{
    width: 80%;
  }
}

.phoneNumber {
  text-decoration: none;
  color: var(--text-color);
}