.main {
position: fixed;
margin-top: 20px;
z-index: 999;
    width: 98vw;
    height: 60px;
font-weight: 500; /* font-medium */
display: flex;
align-items: center; /* items-center */
justify-content: center; /* justify-between */
color: var(--text-color);
background-color: red
;}


.computerMenu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
    color: var(--text-color);
    background-color: var(--bg-color);
    border-radius: 10px;
    border:1px solid var(--text-color)

    
}

.computerMenuOption {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
    text-decoration: none;
    color: var(--text-color);
    
}


.computerMenuWrapper{
    display: flex;
    margin-right: 10px;
}





.mobileMenu {
    flex-direction: column;    
    position: fixed;
    align-items: center;
    width: 80%;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 999;
    background-color: var(--bg-color);    
    color: var(--text-color);
    border-radius: 5px;
    padding: 2px;
    display: none;
    border:1px solid var(--text-color);
}

.mobileMenuWrapper {
    flex-direction: column;    
   display: flex;
  
}

.mobileMenuWrapper1 {
    flex-direction: column;    
    align-items: center;
   display: flex;
  
}

.mobileMenuWrapper1>*{
    margin: 10px;
}
.mobileMenuOption{
    background-color: var(--bg-color);
    color: var(--text-color);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    white-space: nowrap;
    text-decoration: none;
}

.mobileMenuIcon {
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    border: 0;
    color: var(--text-color);
    background-color: var(--bg-color);
}



.menuControler{
    height: 30px;
    color: var(--text-color);
    display: none;
    position: absolute;
    left: 0;
    padding-right: 10px;
}



@media (max-width: 600px) {
    .menuControler{
        display: flex;
    }
    .mobileMenu{
      display: flex;

    }
    .computerMenu{
        display: none;
        
    }
  }
  
  /* Para telas pequenas (sm) */
  @media (max-width: 303px) {
        .mobileMenuOption{
            white-space: break-spaces;
            align-items: self-start;
        }
  }







  